@charset "utf-8";
/*変数宣言*/
:root {
  --gray: #6c757d;
	
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
	
	--default-fontsize : 1.6rem;
	--h2-fontsize : 6rem;
	--big-title-size : 30rem;
 
	--image-radius : 2.6rem;
	--LR-space1 : 10rem;
	--LR-space2 : 15rem;
	--LR-space3 : 20rem;
	--inner-space1 : 5rem;
	--h2-bottom : 10rem;
	
	--z-value-header : 10000;
	--z-value-container : 0;
	--z-value-big-title : -100;
	
	 --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
｝
