@charset "utf-8";
:root{
    --h2-bottom : 4rem;
    --430-skill-fix : 40px;
}




*, ::before, ::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    caret-color: transparent;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	font-family: "Zen Kaku Gothic New", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #FAFDFF;
	color: #707070;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.wrap{
    max-width: 800px;
    margin: 0 auto;
}



a{
    color: #707070;
}
img {
	max-width: 100%;
	height: auto;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 2rem 15rem;
	width: 100%;
  z-index: 99;
  transition: transform 0.6s 0.2s;
}
header.hidden {
    transform: translateY(-90px);
}
header .flex-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	width: 2rem;
}

.menu {
	display: flex;
	list-style-type: none;
}
.menu a {
	text-decoration: none;
	color: #C0C6C9;
	margin-left: 4rem;
	font-size: 2rem;
}
.container {
	padding: 0 15rem;
	font-size: 1.6rem;
}

.mv {
	/*margin-top: 8rem;*/
	display: flex;
	justify-content: center;
	padding: 15vh 0;
	align-items: center;
	margin-bottom: 6rem;
    height: 100vh;
}
.mv-image {
	width: 100%;
}
.mv img{
    max-width: 80rem;
    margin: 0 auto;
}
section {
	margin-bottom: 12rem;
}

h2 {
	font-size: 4.6rem;
	color: #0A3981;
	position: relative;
	margin-left: 10rem;
	margin-bottom: var(--h2-bottom);
}
h2::before {
    position: absolute; /* 絶対指定 */
    content: "";
    top: 54%;     /* h2の上から50%の位置 */
    width: 90px;  /* 横線の幅 */
    height: 2px;  /* 横線の高さ */
    left: -100px; /* h2要素の左から-120px左へずらす */    
	  background-color:#0A3981;
}
.content{
    width: calc(100% - (4rem * 2));
    margin: 0 auto;
}



.about .box {
	/*display: flex;
	justify-content: space-between;*/
	width: 100%;
}
.about .text {
	/*width: 68%;*/
}

.about .image {
	margin-left: 2rem;
	width: 30%; 
    float: right;
}


.works .box {
    display: block;
	margin-bottom: 10rem;
    
}


.works .box img{
    margin: 0 auto;
    max-width: 80rem;
    object-fit: cover;
    aspect-ratio:10/4;
    object-position: top;
}
.works span{
    max-width: 80rem;
    margin: 0 auto;
    display: block;
}



.skills .flex-box {
	display: flex;
    justify-content: space-between;
}

.skills .box {
	/*margin-left: 2rem;*/
	width: 31%;
}
.skills .box:nth-child(1)  {
	margin-left: 0px;
}
.skills h3 , .skills .image{
	text-align: center;
	font-size: 3rem;
	margin-bottom: 2rem;
}
.skills .image {
	width: 100%;
}
.skills .image img {
	width: 60%;
    margin: 0 auto;
}
.skills .text{
    width: 80%;
    margin: 0 auto;
}


.skills .box a {
	color: #C0C6C9;
}
.skills .box a img {
	width: 8px;
}





@media (max-width:768px){
    .container {
    padding: 0 4rem;
    font-size: 1.6rem;
}
header {

    padding: 2rem 4rem;
    
}
.skills .box {
    width: calc(100% / 3);
}
.mv-image {
    width: 80%;
} 
    .about .image {
    
    width: 42%;
    
}
.content {
    width: calc(100% - (2rem * 2));
    margin: 0 auto;
}    
    
}

@media (max-width:550px){
    
    .about .image {
    float: none;
    margin: 0 auto 2rem;
    
}
    
    .skills .flex-box {
   
    margin: 0 -4rem;
}
}

@media (max-width:430px){
    .container {
    padding: 0 2rem;
    font-size: 1.6rem;
}
header {

    padding: 2rem 2rem;
    
}

.mv-image {
    width: 100%;
} 
    .about .image {
    
    width: 72%;
    
}
    .content {
    width: 100%;
    
}
    .works a{
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .works a p:nth-child(2){
        padding-right: 2rem;
        padding-left: 2rem;
    }
    
  .skills .flex-box {
    display: block;
    margin: 0 auto;
}
    
.skills .box {
    width: auto;
    display: flex;
}  
.skills .fix-430 {
width: 40%;
position: relative;
    margin-right: 2rem;
}  
.skills .fix-430 h3{
position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,calc(var(--430-skill-fix) * -1));
}  
.skills .image img {
    width: 100%;
    
}
    .skills .box{
        margin-top: calc(var(--430-skill-fix) + var(--h2-bottom));
    }
    
    
}

