@charset "utf-8";
*, ::before, ::after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img, video {
	vertical-align: bottom;
}
	body{
		
	}

.movie-fv{
	background-color: #FF0004;
	width: 100%;
	height: 100%;
	/*margin: 0 auto;*/
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
	}
.movie-fv video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*aspect-ratio: 16 / 9;*/
	}
	
	
	.ex1{
		margin: 100px auto;
		/*max-width: 640px;*/
	}
	.video-container { 
		/*width: 100%;*/ /* コンテナの幅を100%に設定 */ 
		/*max-width: 800px;*/ /* コンテナの最大幅を設定 */ 
		margin: 0 auto; /* コンテナを中央揃え */ 
		/*background-color: aqua;*/
		margin-left: -10px;
		margin-right: -10px;
	} 
	.video-container video { 
		width: 100%; /* 動画の幅をコンテナに合わせる */ 
		aspect-ratio: 16 / 9; /* 動画のアスペクト比を16:9に設定 */ 
		object-fit: cover; /* コンテンツが容器に収まるように調整 */ 
	}
	
	
		.ex2{
		margin: 100px auto;
		max-width: 800px;
	}
	
	.test-a{
		width: 100%;
		/*height: 300px;*/
		padding: 50px 30px;
		margin: 100px auto 0;
		/*display: block;*/
		background-color: #FF00FD;
		transition: 0.5s;
		display: flex;
		justify-content: center;
		align-items: center
	}

.test-a span{
	
}
	
	.test-a:hover{
		background-color: #61FF00;
		transform: scale(1.1)
	}

	.kijun{
		position: relative;
	}
		.container{
		width: 400px;
		background-color:#ff0;
	  position: absolute;
			top:0;
			left:75%;
			transform: translateX(-50%);
			padding:60px 10px;
	}




	
	/*アニメーション*/
.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}
.loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #20a3ea;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}
.bg {
	background-color: #FFF4E6;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}
.bg-movie {
	width: calc(75% - 200px);
	/*background-color:#ff0;*/
	height:100%;
	position: relative;
}
.bg-movie video{
		width: 100%; /* 動画の幅をコンテナに合わせる */ 
	  height:100%;
		/*aspect-ratio: 16 / 9;*/ /* 動画のアスペクト比を16:9に設定 */ 
		object-fit: cover; /* コンテンツが容器に収まるように調整 */ 
	  object-position: -520px 0px;
}

.catchcopy {
	display: inline-block;
	margin: 0 auto;
	font-size: 38px;
	position: absolute;
	bottom: 8vh;
	left: calc((75% - 200px) / 2);
	transform: translateX(-50%);
	color: #FFFFFF;
	text-shadow:2px 2px 10px #FFD59A, -2px 2px 10px #FFD59A, 2px -2px 10px #FFD59A, -2px -2px 10px #FFD59A;
	/*transition: .5s;*/
}
