@charset "utf-8";
/*文字サイズやフォント、色*/
body {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
	font-size: 1.6rem;
    caret-color: transparent;
    overflow-x: hidden;
}
body,h1,h2,h3,h4,h5,h6{
	font-weight: 200;
}
body, a{
	color:#4e454a;
}
h2,h3,h4,h5,h6{
	font-family: "源ノ角ゴシック Code JP";
	font-weight: 200;
}
.nwrp{
    white-space: nowrap;
}


header{
	width: calc(100% - (2rem * 2));
	height: 6rem;
	padding: 0 2.4rem;
	position: fixed;
	top: 2rem;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 10000;
	background-color: #424358;
	-webkit-box-shadow: 0px 2px 2px #a7a7a7;
	border-radius: 1rem;
	box-shadow: 0px 2px 2px #a7a7a7;
}
header .flx-box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*ロゴ大きさ*/
header .logo{
	width:14.8rem;
    flex-shrink: 0;
}
header .logo a{
	width: 100%;
}

header .adjust{
	display: flex;
	align-items: center;
}

header .menu{
	display: flex;
	font-size: 1.8rem;
	color: #fff;
}
header .menu li{
	margin-right: 4rem;
}
/*
header .menu li:last-child{
	margin-right: 0;
}
*/
header .search-area, header input[type="search"]{
	height: 2.8rem;
	width:30rem;
}
header .search-area{
	display: flex;
	position: relative;
}
header input[type="search"]{
	margin-top: .3rem;
	padding-left:2rem;
	border: none;
	border-radius: .4rem;
	position: absolute;
	top: -.3rem;
	left: 0;
    caret-color: #000;
}
header input[type="search"]::placeholder{
	font-size:1.8rem;
	position: relative;
  top: 0rem;
	color:#ccc;
}
header input[type="search"]::-webkit-search-cancel-button {    
  -webkit-appearance: none;    /* デフォルトのサーチキャンセルボタンを非表示にする場合 */
}
header input[type="submit"]{
    /*background-color: #FF0004;*/
    width:2.4rem;
    height: 2.4rem;
	border: none;
	position: absolute;
	top: .2rem;
	right:1rem;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}

header .search-icon{
	width: 2.4rem;
	position: absolute;
	top: .2rem;
	right:1rem;
}
header .cart-btn{
	width:2.8rem;
}

/*ヘッダー右側のマージン*/
header .search-area{
	margin-right: 2.4rem;
}
header .cart-btn{
	margin-right: 2.0rem;
}
/*nav-btnハンバーガーメニュー*/
header .nav-btn{
	position: relative;
	z-index: 10001;
	width: 3.2rem;
	height: 3.2rem;
    cursor: pointer;
}
header .nav-btn span{
	position: absolute;
	width: 2.4rem;
	height: .2rem;
	background-color: #fff;
	left:.4rem;
    transition: .5s;
}
header .nav-btn span:nth-child(2){
	top:1.5rem;
}
header .nav-btn span:nth-child(1){
	top:.6rem;
}
header .nav-btn span:nth-child(3){
	top:2.4rem;
}




/*mvのパネル*/
.mv{
	width: 80%;
	/*height:40%;*/
	/*aspect-ratio;235/100;*/
	margin: 10rem auto ;
	
}
.mv img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio:235/100;
	border-radius: 2rem;
}

/*セクションタイトル(h2)*/
h2{
	text-align:center;
	font-size: 4.8rem;
	margin-bottom: 4.8rem;
}
/*セクション下のマージン*/
section{
	margin-bottom: 10rem;
}

/*pickup*/

/*slide(card)*/
.pickup .slide{
 width:100%;
 transform: translate(6rem,0);
}
.pickup .slide img{

}
.pickup .slide .box{
	position: relative;
	 margin-right: 2rem;
}
.pickup .slide .box .text{
    font-size: 2.6rem;
	color: #fff;
	position: absolute;
	bottom: 2rem;
	left:50%;
	transform: translate(-50%,0)
}

/*show more*/
.more{
    font-size: 2rem;
	width: 12rem;
	margin-right: 2rem;
	margin-left: auto;
	display: flex;
	color: #4e454a;
	position: relative;
	justify-content: flex-start;
	align-items: center;
    margin-top: 2rem;
}
.r-arrow {
    width: .9rem;
    position: absolute;
    top: .8rem;
    right: .6rem;
}

/*タイプに関するするところ*/
.product h3{
	text-align: center;
	font-size: 2.6rem;
	margin-bottom: 8rem;
}

.product .type-area{
	display: flex;
	width: 80%;
	margin:0 auto 8rem;
	justify-content: center;
}
.product .type-area .box{
	width: calc(100% / 3);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #000;
	border-radius: 2rem;
	margin-right: 2rem;
	aspect-ratio:1/1;
}
.product .type-area .box:last-child{
	margin-right: 0;
}
.product .type-area .box .adjust{
	width: 100%;
	aspect-ratio: 10/8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product .type-area .box .image{
	width: 60%;
	margin: 0 auto;
}
.product h4{
	text-align: center;
	font-size: 2.0rem;
	margin-top: 2rem;
}

/*用途useに関するところ*/
.product .use-area{
	width: 80%;
	margin: 0 auto;
}
.product .use-area .box{
    display: block;
	width: 100%;
	/*display: flex;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
	padding: 2rem 2rem ;
	position: relative;
	border: 1px solid #000;
	border-radius: 2rem;
	margin-bottom: 14rem;
	/*overflow: hidden;*/
}
/*.product .use-area .box:nth-child(even){
	flex-direction: row-reverse;
}*/

/*変数を宣言*/
.product{
	/*プロダクトの人物画像サイズ*/
	--man_image_size:24rem;
	--woman_image_size:18rem;
	
}
.product .use-area .image{
    flex-shrink: 0;
}
	
	/*
	margin-bottom: 0;
	padding-bottom: 20rem;
}*/

/*画像のためのスペースをパディングで*/
.product .use-area .box:nth-child(1){
	padding-right: var(--man_image_size);
}
.product .use-area .box:nth-child(2){
	padding-left: var(--man_image_size);
}
.product .use-area .box:nth-child(3){
	padding-right: var(--woman_image_size);
	margin-bottom: 0;
}
/*.product .use-area .box .adjust{
	width: 30%;
	height: 100px;
}*/

/*画像の位置決め*/
.product .use-area .box .image{
	position: absolute;
}
.product .use-area .box:nth-child(1) .image{
	width: calc(var(--man_image_size) - 2rem);
	bottom: 0rem;
	right: 0rem;
}
.product .use-area .box:nth-child(2) .image{
	width: calc(var(--man_image_size) - 2rem);
	bottom: 0rem;
	left: 0rem;
}
.product .use-area .box:nth-child(3) .image{
	width: calc(var(--woman_image_size) - 2rem);
	bottom: 0rem;
	right: 0rem;
}
.product .use-area .box:nth-child(odd) .image img{
	border-bottom-right-radius: 2rem;
}
.product .use-area .box:nth-child(even) .image img{
	border-bottom-left-radius: 2rem;
}




.product .use-area h4{
	text-align: left;
	margin-top: 0;
}

/*チル背景*/
.bg-chill{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:100vh;
	z-index: -100;
}
.bg-chill img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
/*コンテナを前面に*/
.container{
	z-index: 100;
}

/*背景を白色でマスク*/
.white-wrap{
	background-color: #fff;
	z-index: 101;
}

/*テクノロジーのセクション*/
.technology{
	width: 100%;
	height:100vh;
	color: #fff;
	/*background-image: url("../img/tech-gb.jpg");
	background-size: cover;
	background-repeat: no-repeat;*/
	position: relative;
}
.technology h2{
	position: absolute;
	top: -8rem;
	left: 50%;
	transform: translateX(-50%);
	color: #4e454a;
}
/*左右のエリアを横並べ*/
.technology .flx-box{
	width: 100%;
	height: 100%;
	display: flex;
}
/*仮で画像サイズ一般*/
.technology .image{
	width: 30%;
}
.technology .left-area, .technology .right-area{
	position: relative;
	width:50%;
	height:100%;
}

/*左エリアの画像配置*/
.technology .left-area .image{
	position: absolute;
}
.technology .left-area .image:nth-child(1){
	width: 50%;
	top:2rem;
	left: 2rem;
}
.technology .left-area .image:nth-child(2){
	width:40%;
	top:10rem;
	left: 30rem;
}
.technology .left-area .image:nth-child(3){
	width: 70%;
	bottom:6rem;
	left: 6rem;
}

/*右エリアの画像配置*/
.technology .right-area .upper{
	width:100%;
	height:60%;
	/*padding-left: 10%;*/
	display: flex;
	justify-content: space-between;
}
.technology .right-area .upper .image:nth-child(1){
	width: 15%;
	position: relative;
	top:30rem;
}
.technology .right-area .upper .image:nth-child(2){
	width:50%;
position: relative;
	top:2rem;
	right:4rem;
}
.technology .right-area .upper .image:nth-child(3){
	width: 25%;
position: relative;
	top:16rem;
	right:2rem;
}
.technology .right-area .text-area{
	position: relative;
	top: 4rem;
	right:4rem;
}

/*アジアン背景*/

.bg-asian{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:100vh;
	z-index: -100;
}
.bg-asian img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/*ABOUTUSセクション*/
.aboutus{
	width: 100%;
    color: #fff;
    
    /*ギャラリー上の余白(aboutusの下)調整*/
    margin-bottom: 0;
}
/*キャッチコピーと文章の配置*/
.aboutus .catchcopy, .aboutus .text{
    position: absolute;
}
.aboutus .catchcopy{
    /*font-size: 3.4vw;*/
    font-size: 4.4rem;
    top: 26%;
    left: 5%;
}
.aboutus .text{
    width: 40%;
    bottom: 18%;
    right: 5%;
}




/*ギャラリー*/
.gallery.slide{
	width: 100%;
}
/*フッター前最後*/
.content-bottom{
    padding-top: 10rem;
    padding-bottom: 10rem;
}


/*フッター*/

footer{
    width: 100%;
    background-color: #424358;
    color: #fff;
    padding: 0 10rem;
    padding-bottom: 4rem;
}
footer .logo{
    width:36rem;
	margin: 0 auto;
}
footer .logo-area{
    width: 70%;
    padding: 4rem;
    border-bottom: solid 1px #fff;
	margin: 0 auto;
}
footer .menu-area{
    width: 100%;
    padding: 4rem 0;
}
footer .menu-area .box{
    /*width: calc(100% / 3)*/
}
footer h3{
    font-weight: 400;
    margin-bottom: 2rem;
    font-size:1.8rem;
}
footer li{
    margin-bottom: .4rem
}

footer .copyright{
    text-align: center;
    margin-top: 4rem;
}
footer .flx-box{
	width: 64%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}


/*スペースの調整*/
.mv{
	margin-top: 0;
}
.white-wrap.first{
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.pickup h2{
	margin-top: 10rem;
}

/*nav-btn押下後のメニュー（spメニューだけど平時も出していい）*/
.menu-area.sp{
    width: 100%;
	height: 100%;
    background-color: #424358;
    color: #fff;
    padding: 0 10rem;
    padding-bottom: 4rem;
	z-index: 500;
	position: fixed;
	top: 10rem;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-100%);
	transition: .5s;
}
.sp.menu-area{
    width: 100%;
    padding: 4rem 0;
}
.sp.menu-area .box{
   /* width: calc(100% / 3)*/
}
.sp h3{
    font-weight: bold;
    margin-bottom: 2rem;
    font-size:1.8rem;
}
.sp li{
    margin-bottom: .4rem;

}
/*メニューmenu配置*/
.sp .flx-box{
	width: 64%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
/*トグル時のメニュー*/
.open .sp{
	visibility: visible;
	opacity: 1;
	transform: translateX(0)
}

/*ヘッダーのアコーディオン*/
header .acco-key{
	cursor: pointer;
	caret-color: transparent;
}

header li.kijun{
	position: relative;
	display: flex;
	flex-direction: column;
}

header .acco-this{
	background-color: #424358;
	border-radius: 1rem;
    box-shadow: 2px 2px 4px #303140;
	width: 20rem;
	padding: 1rem;
	position: absolute;
	top: 5.0rem;
	left: 50%;
	transform: translateX(-50%);
    display: none;
}
header .acco-this a{
	width: 20rem;
	display: block;
	text-align: left;
}
/*３つめ(support)だけ文字溢れるんで幅調整*/
header li.kijun:nth-child(3) .acco-this,
header li.kijun:nth-child(3) .acco-this a{
  width: 24rem;
}

/*
header nav{
	position: absolute;
}
header .flx-box{
	position: relative;
}
*/

/*最終調整*/
.product .use-area h4{
    margin-bottom: 1rem
}

.technology h3{
    margin-bottom: 2rem;
    opacity: 0;
}
.product .use-area .box.bug-fix {
    overflow-x: clip; /* hidden の代わりに clip を試す */
    position: relative; /* 必要なら relative を指定 */
    min-height: 15rem; /* 高さを確保 */
}
/*検索ボタンsp用を消しておく。*/
header .search-icon.sp{
	display: none;
}
/*フッターメニューのレスポンシブ*/
footer .res-fix{
	display: none;
}
.sp .res-fix{
		display: none;
	}
/*ロゴ*/
header .logo.sp{
	display: none;
}
.card.slide.sp{
    display: none;
}



@media (max-width:1200px){
    footer .logo-area {
    width: 100%;
}
    footer .flx-box {
    width: 100%;
}
}
@media (max-width:1000px){
    header .menu{
        display: none;
    }
}
@media (max-width:800px){
    footer {
    padding: 0 2rem;
}
    footer .logo-area {
    width: 100%;
}
    footer .flx-box {
    width: 100%;
}
}

@media (max-width:768px){
    .product .use-area .box {
    margin-bottom: 2rem;
    /* overflow: hidden; */
}
    /*検索関係*/
    header input[type="search"]{
	display: none;
}
header input[type="submit"]{
   display: none;
}

header .search-icon.pc{
	display: none;
}
   header .search-area {
        /*display: none;*/
       width: 4rem;
       position: relative;
    }
        header .search-icon.sp{
        width: 2.8rem;
	display: block;
            top: 0rem;
    right: 0;
}
/*テクノロジー配置*/
    .technology .left-area .image:nth-child(2) {
    
    top: 40rem;
    left: 20rem;
}

.technology .left-area .image:nth-child(1) {
 
    top: 10rem;
    left: 2rem;
}

.technology .right-area .upper .image:nth-child(3) {

    top: 42rem;
   
}
.technology .right-area .upper .image:nth-child(2) {

    top: 12rem;
    right: 0rem;
}

.technology .right-area .upper .image:nth-child(1) {
    width: 20%;
    
}
.technology .right-area .text-area {

    right: 2rem;
}

}
@media (max-width:600px){
    .product .use-area .box{
        position: relative;
         overflow: hidden;
        background-color: #424358;
    }
    .product .use-area .box .image {
    position: absolute;
       
}
    .product .use-area .box:nth-child(1) .image, .product .use-area .box:nth-child(2) .image,.product .use-area .box:nth-child(3) .image {
    width:70%;
    bottom: 50%;
        transform: translateY(50%);
        opacity: .7;
}
    .product .use-area .box .text-area {
    z-index: 1;
        position: relative;
        color: #fff;
   /*      -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #fff;*/
       
}
    /*画像のためのスペースをパディングで*/
.product .use-area .box:nth-child(1){
	padding-right: 2rem;
}
.product .use-area .box:nth-child(2){
	padding-left: 2rem;
}
.product .use-area .box:nth-child(3){
	padding-right:2rem;
}
/*フッターメニュー*/
	footer .del{
		display: none;
	}
	footer .res-fix{
		display: block;
	}
	footer .box.info{
		margin-bottom: 4rem;
	}
	
	.sp .del{
		display: none;
	}
	.sp .res-fix{
		display: block;
	}
	.sp .box.info{
		margin-bottom: 4rem;
	}
	.sp .flx-box {
    width: 90%;
}
    
.product .type-area {
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.product .type-area .box {
    width: 80%;
    margin-right: 0rem; 
    margin-bottom: 2rem;
}
    .card.slide.sp{
    display: block;
}
    .pickup .slide.under.sp {
        margin-top: 2rem;
    width: 100%;
    transform: translate(-6rem,0);
}
    .pickup .sp .next_icon{
    
    right: 0rem;
   
}
    .pickup .sp .prev_icon{
        right: 6rem;
    }
    
    
}


@media (max-width:440px){
        .pickup .prev_icon, .pickup .next_icon {
        width: 4rem;
    }
    
.pickup .slide{
width:200%
}

.product .type-area {
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.product .type-area .box {
    width: 80%;
    margin-right: 0rem; 
    margin-bottom: 2rem;
}
.technology .left-area .image:nth-child(1) {
    width: 80%;

}
.technology .left-area .image:nth-child(3) {
    width: 75%;
    bottom: 30rem;

}
.technology .left-area .image:nth-child(2) {
    width: 60%;

}
.technology .right-area .text-area {

    margin-left: -10rem;
}
    footer .logo {
    width: 22rem;
    
}
    .mv {
    width: 100%;
}
	header .logo.sp{
	display: block;
		width: 2.8rem;
}
		header .logo.pc{
	display: none;
}
	h2 {
    
    font-size: 3.2rem;
   
}
	.aboutus .catchcopy {
    /* font-size: 3.4vw; */
    font-size: 3.2rem;
    top: 18%;
    
}
	.aboutus .text {
    width: 60%;
    
}
	
	
}
